header{
    background-image:  linear-gradient( to right, yellow, orange );
    padding: 20px;
    width: 1874px;
    border-style: groove;
}
.header1{
    display: inline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    margin-left: 50%;
    padding: 50px;
   }
    .header2{
        display: inline;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 18px;
        margin-left: 40px;
        padding: 50px;
    }
        .header3{
            display: inline;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 18px;
            margin-left: 40px;
            padding: 50px;
        }
            .header4{
                display: inline;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 18px;
                margin-left: 40px;
                padding: 50px;
            }

.ReiDoce{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
.ReiDoce2{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vh;
}
.Tabela{
    background-image:  linear-gradient( to right, yellow, orange );
    height: 475px;
    width: 1000px;
    position: absolute;
    top: 20%;
    left: 25%;
}
table, th, td{
    font-size: 18px;
    border:5px solid rgb(56, 50, 0);
    width: 100%;
    color: rgb(56, 50, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.final{
    background-color: black;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 200px;
}
    .Instagram{
        height: 40px;
        width: 40px;
        position: absolute;
        top: 20%;
        left: 45%;
    }
    .Instagram2{
        height: 40px;
        width: 40px;
    }
        .YouTube{
            height: 40px;
            width: 40px;
            position: absolute;
            top: 20%;
            left: 50%;
        }
        .YouTube2{
            height: 40px;
            width: 40px;
        }
            .Twitter{
                height: 40px;
                width: 40px;
                position: absolute;
                top: 20%;
                left: 55%;
            }
            .Twitter2{
                height: 40px;
                width: 40px;
            }

                .pfinal{
                    color: white;
                    position: absolute;
                    top: 50%;
                   left: 41%;
                }
