header {
    background-image: linear-gradient(to right, yellow, orange);
    width: 100%;
    border-style: groove;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
*{
    box-sizing: border-box;
}

.header1 {
    display: inline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

.header2 {
    display: inline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

.header3 {
    display: inline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

.header4 {
    display: inline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

.ReiDoce {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.ReiDoce2 {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.Tabela {
    background-image: linear-gradient(to right, yellow, orange);
    width: 95%;
    align-self: center;
    margin-top: 1%;
}

table,
th,
td {
    font-size: 30px;
    border: 5px solid rgb(56, 50, 0);
    width: 100%;
    color: rgb(56, 50, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.final {
    background-color: black;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
}

.Instagram {
    height: 40px;
    width: 40px;
}

.Instagram2 {
    height: 40px;
    width: 40px;
}

.YouTube {
    height: 40px;
    width: 40px;
}

.YouTube2 {
    height: 40px;
    width: 40px;
}

.Twitter {
    height: 40px;
    width: 40px;
}

.Twitter2 {
    height: 40px;
    width: 40px;
}

.pfinal {
    color: white;
}

@media screen and (max-width: 1000px) {
    *{
        font-size: 20px !important;
    }    
}
