header {
    background-image: linear-gradient(to right, yellow, orange);
    width: 100%;
    border-style: groove;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

* {
    box-sizing: border-box;
}

.header1 {
    display: inline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

.header2 {
    display: inline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

.header3 {
    display: inline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

.header4 {
    display: inline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

.ReiDoce {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.ReiDoce2 {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    height: 520px;
    overflow: hidden;
    position: absolute;
    top: 18%;
    align-self: center;
    min-width: 70%;
    max-width: 300px;
}

.navigation {
    position: absolute;
    bottom: 20px;
    left: 40%;
    display: flex;
}

.bar {
    width: 70px;
    height: 17px;
    border: 2px solid white;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
}

.bar:hover {
    background-color: white;
}

input {
    display: none;
}

.slides {
    display: flex;
    width: 500%;
    height: 100%;
}

.slide {
    width: 20%;
    transition: .6s;
}

.slide img {
    width: 100%;
    height: 100%;
}

#slide1:checked~.s1 {
    margin-left: 0;
}

#slide2:checked~.s1 {
    margin-left: -20%;
}


.final {
    background-color: black;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
}

.Instagram {
    height: 40px;
    width: 40px;
}

.Instagram2 {
    height: 40px;
    width: 40px;
}

.YouTube {
    height: 40px;
    width: 40px;
}

.YouTube2 {
    height: 40px;
    width: 40px;
}

.Twitter {
    height: 40px;
    width: 40px;
}

.Twitter2 {
    height: 40px;
    width: 40px;
}

.pfinal {
    color: white;
}